// Fonts
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;

// Screen Resolutions
$xl-lg: 1580px;
$xl: 1440px;
$lg: 1280px;
$md-lg: 1024px;
$md: 768px;
$sm: 480px;
$sm-extra: 320px;

// Colors
$black: #000;
$white: #fff;
$gray: #888;
$blue: #3a6af0;

$site-colors: (
	'black': $black,
	'white': $white,
	'gray': $gray
) !default;



