a,
button {
	appearance: none;
	outline: none;
}

button,
input[type='button'],
input[type='submit'] {
	background: none;
	border: 0;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.btn {
	color: $white;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	padding: 0 25px;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	font-weight: 700;
	@include border-radius(5px);
}

.btn--secondary {
	background: $blue;
	margin-left: 30px;
}